<div>
  <nav class="navbar navbar-default navbar-static-top navbar-border">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Mpesa Statements</a>
      </div>
      <!-- Collection of nav links and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="/home">Home</a>
          </li>
          <li *ngIf="isLoggedIn()" routerLinkActive="active">
            <a routerLink="/statements">My Statements</a>
          </li>
          <li *ngIf="isLoggedIn()" routerLinkActive="active">
            <a routerLink="/transactions">My Transactions</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right social-login">
          <li *ngIf="!isLoggedIn()">
            <a (click)="loginWithFacebook()"><i class="fa fa-facebook color-facebook"></i> Login with Facebook</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a>{{ getUserNames() }}</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a (click)="onLogOut()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>
