<div class="col-xs-12">
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>MPESA Reference</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of transactions">
        <td>{{t.id}}</td>
        <td>{{t.created_at}}</td>
        <td>{{t.mpesa_receipt_number}}</td>
        <td>{{t.amount}}</td>
        <td>{{t.description}}</td>
        <td>{{t.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
