<div class="col-md-12">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-12">
          <h1>Mpesa statements</h1>
          <p>Login to view your uploaded Mpesa statements and Mpesa Transactions done on the Android Application.</p>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <a target="_blank" href="https://drive.google.com/open?id=1bf6wjsP9gCEnvkXhci7afa-oKb_U5ITn" class="btn btn-success btn-lg">Download Android App</a>
        </div>
      </div>
    </div>
  </div>
</div>
